<!-- ========================= -->
<!--      Summary Cards        -->
<!-- ========================= -->

<section class="summary-grid">

    <div class="summary-card">

        <span class="summary-type">
            Expenses
        </span>

        <h3>This Month</h3>

        <div class="summary-value">
            $0.00
        </div>

    </div>

    <div class="summary-card">

        <span class="summary-type">
            Expenses
        </span>

        <h3>This Year</h3>

        <div class="summary-value">
            $0.00
        </div>

    </div>

    <div class="summary-card">

        <span class="summary-type">
            Income
        </span>

        <h3>This Month</h3>

        <div class="summary-value">
            $0.00
        </div>

    </div>

    <div class="summary-card">

        <span class="summary-type">
            Income
        </span>

        <h3>This Year</h3>

        <div class="summary-value">
            $0.00
        </div>

    </div>

</section>