/* ==========================================
   Typography
   Base
   Project Zebra
========================================== */

/* ========================= */
/*          Body             */
/* ========================= */

body {

    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;

}

/* ========================= */
/*         Headings          */
/* ========================= */

h1,
h2,
h3,
h4,
h5,
h6 {

    font-weight: 700;
    line-height: 1.2;

}

/* ========================= */
/*       Paragraphs          */
/* ========================= */

p {

    line-height: 1.6;

}