
{% extends "base.html" %}

{% block content %}

<!-- ========================= -->
<!--        Dashboard          -->
<!-- ========================= -->

<div class="dashboard">



    <!-- Main Dashboard Layout -->
    <div class="content">

    {% include "components/sidebar.html" %}

    <div class="workspace">

        {% include "components/topbar.html" %}

        <main class="main-content">

            {% include "components/financial_overview.html" %}

            {% include "components/dashboard_grid.html" %}

        </main>

    </div>

</div>

</div>

{% endblock %}