{% extends "base.html" %}

{% block content %}

<!-- ========================= -->
<!--         Receipt           -->
<!-- ========================= -->

<div class="dashboard">

    <!-- Top Navigation -->
    {% include "components/topbar.html" %}

    <!-- Main Dashboard Layout -->
    <div class="content">

        <!-- Left Navigation -->
        {% include "components/sidebar.html" %}

        <!-- Main Content Area -->
        <main class="main-content">

            <!-- Navigation -->

            <div class="back-links">

                <a href="/" class="back-link">
                    ← Home
                </a>

                <a href="/receipts" class="back-link">
                    ← Expenses
                </a>

            </div>

            <!-- Page Header -->



            <!-- Expense Workspace -->

            {% include "components/expense_details.html" %}

        </main>

    </div>

</div>

{% endblock %}